.headers {
	margin: auto;
    min-height: 126px;
    height: 160px;
    padding-top: 0vw;
    background: url("../images/icons/grass.jpg") repeat top center;
    display: flex;
}
.logo {
    padding-left: 2%;
    margin-left: 41%;
    margin-right: 22%;
    background: rgba(255,255, 255, 0.7);
    float: left;
    border-radius: 71px 71px 71px 71px;
    width: 145px;
    padding-top: 0vw;
    margin-top: 1%;
    flex: 1 1 auto;
    margin-bottom: auto;
}
.contact {
    float: right;
    width: 16vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgba(255,255, 255, 0.7);
    padding: 25px 20px;
        padding-top: 25px;
        padding-right: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
    line-height: 2vw;
    font-size: 18px;
    color: #0b5820;
    font-weight: bold;
    margin-top: 1%;
    flex: 1 1 auto;
    margin-bottom: auto;
}
body {
    font-family: Tahome, Arial, Helvetica, sans-serif;
    font-size: 10.7px;
    color: #454545;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
    color: #0b5820;
}
.menu-wrapper {
    background-color: #0b5820;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-h {
    width: 100%;
    margin-left: 10%;
}
.menu-h ul li {
    display: inline-block;
}
.menu-h ul li a {
    padding: 2px 9px;
    line-height: 16px;
    display: block;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-right: 1px dotted #FFFFFF;
    text-decoration: none;
}
.menu-h ul li a:hover {
    color: #d6ffb9;
}
.middle {
    background: #0b5820;
    padding: 4px 8px;
    border-radius: 6px;
}
.middle ul li {
    border-bottom: 1px dotted #0c6c26;
    background: url("../images/icons/check.png") no-repeat top 10px left;
    padding-top: 12px;
    padding-bottom: 9px;
    list-style-type: none;
}
.middle ul li a {
    color: #FFFFFF;
    text-decoration: none;
    height: auto;
    display: block;
    padding-left: 26px;
}
.left {
    width: 242px;
    float: left;
    margin-left: 7px;
margin-top: 5px;
}
.content {
	margin-left: 8px;
	    flex: 1 1 auto;
}

.right {
    width: 100vw;
    
}
.title {
	margin-left: 35%;
    color: #0b5820;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}
.page-text {
    margin-bottom: 4px;
    margin-left: 20%;
    margin-right: 20%;
}
.contents{
	display: flex;
}
