

.title {

    color: #0b5820;
    font-size: calc(30px - 3px);
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}
.page-text {
    margin-bottom: 4px;

}
.column {
    flex: auto;
}
.row{
    display: flex;
}
